.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.menu {
  width: 100%;
  padding: 1rem;
  background: #edf0f3;
}

@media (min-width: 768px) {
  .wrapper {
    flex-direction: row;
  }

  .menu {
    max-width: 320px;
    height: 100vh;
  }
}